#modal {
    position: fixed;
    top: 0;
    background-color: #0e0a14ef;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

.modal-content {
    color: white;
    width: 420px;
}

.modal-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.modal-content header a {
    background: url(/extras-aula-1/icones/x.svg) no-repeat;
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0);
    font-size: 0.01px;
    padding: 10px;
}

.modal-content header a:hover {
    background-color: none;
}

.modal-content header h1 {
    color: white;
    font-size: 36px;
    line-height: 42px;
}

#modal form label {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
}

#modal form .field {
    display: flex;
}

#modal form .field input{
    flex: 1;
    border-radius: 16px 0 0 16px;
    text-decoration: none;
    background: #f0f0f5;
    border: 0;
    outline: none;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
}

#modal form button {
    width: 72px;
    height: 72px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 0 16px 16px 0;
    outline: none;
}

#modal form button:hover { 
    cursor: pointer;
    background-color: #25d675bd;
    transition: 600ms;
}

#modal.hide {
    display: none;
    transition: 400ms;
}
