body {
    background-color: white;
}

body::after {
    content: "";
    background-color: #f0f0f5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 16rem;
    left: 0;
    right: 0;
    z-index: -1;
}

#page-search-results {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search-results header {  
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-search-results header a {
    display: flex;
    font-weight: bold;
    color: var(--title-color);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 8px;
    align-items: center;
}

#page-search-results header a:hover {
    transition: 400ms;
    background-color: rgba(255, 255, 255, 0.57);
}

#page-search-results header a span {
    display: flex;
    background-image: url(../extras-aula-1/icones/arrow-left.svg);
    width: 20px;
    height: 22px;
    margin-right: 10px;
}

main {
    margin: 48px;
}

main h4 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main .card {
    background-color: #8989942f;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

main .card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
    object-fit: cover;
}

main .card h1 {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 41px;
    color: #322153;
}

main .card h3 {
    font-family: Roboto;
    font-size: 24px;
    line-height: 34px;
    color: #34cb79;
    margin-bottom: 10px;
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
}
